
body{
    background-color: rgb(103, 126, 155);
}
.shayma{
    color: rgb(36, 65, 145);
    background-color: rgb(162, 166, 177);
    padding: 10px;
    margin: 10px;
    border: 10px;
    width:400px;
}

